body{
    padding: 100px;
}
.submit-area{
    margin-top: 60px;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;

}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.deposit{
    background-color: lightsalmon;
}
.withdraw{
    background-color: blueviolet;
}
.balance{
    background-color: lightcoral;
}